{% extends 'base.html' %}
{% block title %}Details{% endblock %}
{% block menu %}
    <a class="nav-link active" aria-current="page" href="{% url 'index' %}">На главную</a>
    <a class="nav-link active" aria-current="page" href="{% url 'task_edit'  pk=task.pk %}">Обновить</a>
    <a class="nav-link active" aria-current="page" href="{% url 'task_delete'  pk=task.pk %}">Удалить</a>
{% endblock %}
{% block content %}
    <div class="card">
      <h5 class="card-header">Title</h5>
      <div class="card-body">
        <h5 class="card-title">Title {{ article.title }}</h5>
        <p class="card-text">{{ article.content }}</p>
        <h5>Author: {{ article.author }}</h5>
        <a href="{% url 'index' %}" class="btn btn-primary">Go to main</a>
        <a href="{% url 'index' %}" class="btn btn-success">Edit</a>
        <a href="{% url 'index' %}" class="btn btn-danger">Delete</a>
      </div>
    </div>
{% endblock %}



