{% extends 'base.html' %}
{% block title %}Details{% endblock %}
{% block menu %}
{#    <a class="nav-link active" aria-current="page" href="{% url 'task_list' %}">На главную</a>#}
{#    <a class="nav-link active" aria-current="page" href="{% url 'task_edit'  pk=task.pk %}">Обновить</a>#}
{#    <a class="nav-link active" aria-current="page" href="{% url 'task_delete'  pk=task.pk %}">Удалить</a>#}
{% endblock %}
{% block content %}
<h1>Create Article</h1>

{#<form action="/articles/add/" method="post"> если в action не указан никакой путь, то она отправляет запрос на эту же страницу #}
<form action="" method="post">
    {% csrf_token %}
    
    <label>Title:</label><br/>
    <input type="text" name="title"/><br/>
    
    <label>Text:</label><br/>
    <textarea name="content"></textarea><br/>
    
    <label>Author:</label><br/>
    <input type="text" name="author"/><br/>
    <br/>
    <input type="submit" value="Send"/>
</form>
<a href="{% url 'index' %}" class="btn btn-primary" style="margin-top: 20px">Go to main</a>

</body>
</html>
{% endblock %}