{% extends 'base.html' %}
{% block title %}Products{% endblock %}
{% block content %}
    {% for article in articles %}
        <div class="col-md-6">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{ article.image }}" class="img-fluid rounded-start" alt="">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ article.title }}</h5>
                            <p class="card-text"><small class="text-body-secondary">{{article.author}}</small></p>
                            <p class="card-text">{{article.content}}</p>
                            <a href="{% url 'article_view' pk=article.pk %}" class="card-link">see more >>></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}